/* Excercise */
.container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 100fr 1fr;
  grid-gap: 10px;
  padding-top: 12px;
}

.header .tagContainer {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 5px;
  justify-content: left;
  grid-auto-rows: 0;
  overflow-y: hidden;
  margin-left: 15px;
}

.body hr {
  margin: 15px;
}

.body .tagContainer {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-gap: 5px;
  justify-content: left;
  margin-left: 15px;
}

.tag {
  background-color: var(--secondary);
  text-align: center;
  border-radius: 90px;
  color: white;
  box-shadow: var(--shadow);
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0 5px;
}

.createTagBtn {
  background-color: var(--primary);
  border-radius: 90px;
  grid-column: span 2;
  text-align: center;
  color: #fff;
  box-shadow: var(--shadow);
  height: 25px;
}

.createTagBtn i {
  margin-right: 10px;
}

.add {
  width: 10px;
  font-size: 1.5em;
  margin: auto 50%;
}

.add i {
  margin-left: -11px;
  margin-top: 10px;
}
