.container {
  grid-template-rows: 1fr 6fr;
  display: grid;
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  background-color: gainsboro;
}
.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, minmax(50px, 1fr));
  justify-items: center;
}
