.container {
  grid-template-rows: 1fr 6fr;
  display: grid;
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  background-color: gainsboro;
}
.body {
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-template-rows: repeat(5, minmax(70px, 1fr));
  justify-items: center;
}

.date {
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: right;
  align-content: end;
  padding: 10px;
}

.today {
  border: 2px solid var(--secondary);
  color: var(--primary);
}
