* {
  /* CSS Reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary: #344a72;
  --secondary: #49c1a2;
  --secondary-dark: #37a08e;
}

#root {
}

#header,
#footer,
#content {
  position: absolute;
  right: 0;
  left: 0;
}

#header {
  height: 75px;
  top: 0;
  background-color: var(--primary);
  color: #fff;
  padding: 20px;
  text-align: center;
}

#header i {
}

#footer {
  height: 75px;
  bottom: 0;
  background-color: var(--primary);
  color: #fff;
  font-size: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
}

.divider {
  position: relative;
  left: 92%;
}

#content {
  top: 75px;
  bottom: 75px;
  overflow: auto;
}

.container {
  margin: 20px;
}
