.set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: 1fr;
}

.rep {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.adjust {
  opacity: 0.3;
}

.delete {
  color: white;
  background-color: var(--danger);
  padding: 3px;
  font-size: 0.8em;
  border-radius: 90px;
}
